.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding:12px;
    
    
}
.nav-first {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar a{
    margin-right:var(--nav-margin);
    font-weight: 600;
    transition-property:color ;
    
}
.nav-bar a:hover{
    cursor: pointer;
    color:rgb(40, 29, 255);
}
.blue{
    color:blue;
}
.down-nav{
    margin:var(--nav-margin);
}
.down-nav a{
    margin-right:var(--nav-margin);
    font-weight: 500;
}

/*hero-section*/
.section1{
    width:85%;
    margin: auto;  
}
.section1 .image{
    background-image: url("/images/hero.jpg");
    background-size: cover;
    background-position:6.26rem 0.62rem;
    width:100%;
    height:70vh; 
    position: relative;    
}
.abslt{
    color:tomato;
    font-size: 85px;
    font-weight: 500;
    display:inline-block;
    position: absolute;
    top:48%;
    left:38%;
}
main article{
    width:55%;
    margin:6.13rem auto;
    line-height: 1.7;
}
main article p{
    font-size:0.8em;
    margin-top:1.9em; 
}


/*section 2 styles*/

.section2-wrapper{
    width:85%;
    margin:0 auto;
}
.larger-div{
    background-color: rgb(234, 249, 157);
    width:62%;
    /*width: 50rem;*/
    margin-left:auto;
    position: relative;
    height: 41.12rem;
}
.smaller-div{
    /*width:620px;*/
    width:73%;
    height:70%;
    position: absolute;
    right:686px;
    top:98px;
    background-image: url("/images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.center-div{
    width:370px;
    height:370px;
    background-color: blueviolet;
    background-image: url("/images/section2-img.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top:23%;
    left:33%;
}



/*footer*/

.footer-wrapper{
    width:85%;
    margin:0 auto;
    padding:6.13rem 6rem;
    box-shadow: 0 12px 24px -6px rgba(24,26,42,0.12),inset 0 0 0 1px #e8e8ea;
    font-size:0.8em;

}


.upper, .lower{
    margin-top:3.5rem;
    display: flex;
    justify-content:space-between;
    margin-bottom: 3.5rem;
    
}

.footest{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:0.8em;
    color:#fff;
    background-color: #252525;
    padding:5px;
}

.footest .f-2{
    display: flex;
    justify-content: start;
    align-items: center;
}






    
